asgiref==3.4.1
astroid==2.8.3
attrs==21.2.0
black==21.9b0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
coverage==6.1.1
Flask==2.0.2
giteapy==1.0.8
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
interface @ file:///home/aravinth/code/forgedfed/interface
isort==5.9.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
maturin==0.11.5
mccabe==0.6.1
msgpack==1.0.2
mypy-extensions==0.4.3
packaging==21.2
parso==0.8.2
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pylint==2.11.1
pynvim==0.4.3
pyparsing==2.4.7
pytest==6.2.5
pytest-flask==1.2.0
python-dateutil==2.8.2
regex==2021.10.23
requests==2.26.0
requests-mock==1.9.3
rfc3339==6.2
six==1.16.0
sqlparse==0.4.2
tabulate==0.8.9
toml==0.10.2
tomli==1.2.1
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.2
yoyo-migrations==7.3.2
